@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");

body {
  background-color: #1a202c;
}

h1 {
  font-size: 33px;
  font-weight: bold;
  color: white;
  margin-bottom: 10px;
}

h2 {
  font-size: 18px;
  font-weight: bold;
  color: white;
}

p {
  color: white;
}

.pokemon-card {
  margin: 0 auto;
  margin-top: 40px;
  width: 280px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  border: 1px solid white;
  border-radius: 2%;
}

.pokemon-card img {
  width: 258px;
}

.description {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.list {
  
}
.button-random {
  background-color: #81e6d9;
  padding: 12px 35px;
  width: 280px;
  border: none;
  border-radius: 5px;
  margin: 0 auto;
  margin-top: 15px;
  display: flex;
  justify-content: center;
}

.button-random p {
  color: black;
  font-weight: bold;
}