@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");

body {
  background: rgb(134,2,115);
background: linear-gradient(190deg, rgba(134,2,115,1) 0%, rgba(85,2,125,1) 33%, rgba(46,2,133,1) 66%, rgba(1,1,143,1) 100%);
height: 100vh

}

h1 {
  font-size: 33px;
  font-weight: bold;
  color: white;
  margin-bottom: 10px;
}

h2 {
  font-size: 18px;
  font-weight: bold;
  color: white;
}

p {
  color: white;
}

.pokemon-card {
  margin: 0 auto;
  margin-top: 40px;
  width: 280px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px;
  border: 1px solid white;
  border-radius: 2%;
  background-color: rgba(187, 139, 139, 0.1);
  backdrop-filter: blur(60px);

}

.pokemon-card img {
  width: 258px;
}

.description {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.button-random {
  background-color: #81e6d946;
  padding: 12px 35px;
  width: 280px;
  border: none;
  border-radius: 5px;
  margin: 0 auto;
  margin-top: 15px;
  display: flex;
  justify-content: center;
  backdrop-filter: blur(200px);
  cursor : pointer;
  transition: background-color 0.2s ease-in-out;
}

.button-random:hover {
  background-color: #81e6d971;
}

.button-random p {
  color: rgb(255, 255, 255);
  font-weight: bold;
}